{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.0",
        "targets": {
          "node": 16
        },
        "modules": false
      }
    ]
  ],
  "plugins": ["import-graphql"]
}
